body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5eef8; /* Morado pastel para el fondo */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
}

h2 {
    margin: 10px 0;
    color: hsl(273, 31%, 42%); /* Morado pastel para el título */
}

button {
    background-color: #9d7cbf; /* Morado pastel para los botones */
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#btnLimpiar {
    background-color: #7b5487; /* Morado pastel oscuro para el botón Limpiar */
}

section {
    text-align: center;
}

#respuesta {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9d7cbf; /* Morado pastel para las celdas de encabezado */
    color: white;
}

tr:nth-child(even) {
    background-color: #e6d7ec; /* Morado pastel claro para filas pares */
}

tr:hover {
    background-color: #d4b9d1; /* Morado pastel más oscuro al pasar el ratón */
}
