body {
    background-color: #f0e6f4; 
    font-family: Arial, sans-serif;
    margin: 0; 
}

center {
    background-color: #d1c4e9; 
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

h2 {
    color: #673ab7;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

select {
    width: calc(100% - 18px); 
}

button {
    background-color: #673ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #311b92; 
}

#btnLimpiar {
    background-color: #9575cd; 
}

#btnLimpiar:hover {
    background-color: #5e35b1; 
}

img {
    max-width: 100%; 
    height: auto; 
}
