body {
    background-color: #f0e6f4; /* Morado pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

center {
    background-color: #d1c4e9; /* Morado claro */
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

h2 {
    color: #673ab7; /* Morado oscuro */
}

label {
    display: block;
    margin: 10px 0;
    color: #673ab7; /* Morado oscuro */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #673ab7; /* Morado oscuro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #311b92; /* Morado más oscuro al pasar el ratón */
}

#capital,
#language {
    margin-top: 10px;
    padding: 10px;
    background-color: #d1c4e9; /* Morado claro */
    border-radius: 5px;
}

#btnLimpiar {
    background-color: #9575cd; /* Morado medio */
}

#btnLimpiar:hover {
    background-color: #5e35b1; /* Morado más oscuro al pasar el ratón */
}
